# Database Configuration
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=postgres
DB_NAME=mizore
DB_PORT=5432

# Fastify Backend
HOST=0.0.0.0
BACKEND_PORT=your_backend_port
SHARED_FOLDER=your_shared_folder

# Next.js Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
